﻿
@{
    ViewBag.Title = "Chat";
}

<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>


<!--########## CSS ##########-->
<style>
    body {
        background-color: #ffae1a;
        font-size: 14px;
        font-family: Arial;
        margin: 0px;
    }

    #wrapper {
        display: block;
        width: 100%;
    }

    #content {
        background-color: #ffae1a;
        height: 100%;
        width: 100%;
    }

    #left_column {
        width: 10%;
        top: 50px;
        display: inline-block;
        position: fixed;
        left: 0px;
        float: left;
        height: 100%;
        overflow-y: auto;
        background: #f5f5f5;
        border-right: 2px solid #CCCCCC;
    }

    #bottom_bar {
        padding: 10px;
        position: fixed;
        left: 0px;
        bottom: 0px;
        margin-left: 10%;
        height: 50px;
        width: 100%;
        background-color: #CCCCCC;
    }

    #chat_rows_container {
        top: 84px;
        padding-left: 0px;
        left: 0px;
        margin-left: 10%;
        margin-bottom: 0;
        background-color: #F5F5F5;
        position: absolute;
        bottom: 50px;
        flex-direction: column-reverse;
        flex-flow: column-reverse wrap;
        align-content: flex-end;
        align-items: flex-start;
        flex: 1;
        display: flex;
        overflow: auto;
    }

    #chat_rooms_list {
        top: 50px;
        padding-left: 0px;
        left: 0px;
        margin-left: 10%;
        margin-bottom: 0;
        background-color: #205081;
        position: absolute;
        padding: 5px 5px 0px 5px;
        height: 35px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        flex: 1;
        display: flex;
        overflow: auto;
        width: 90%;
    }

    .chat_row {
        padding: 5px;
        background-color: #f5f5f5;
        border-top: 1px solid #e9e9e9;
        width: 100%;
    }

    .chat_row_text {
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        line-height: 20px;
        color: #333;
    }

    .left_column_cell {
        padding: 5px;
        background-color: #f2f2f2;
        width: 100%;
        display: inline-block;
        border-style: solid;
        border-color: #e9e9e9;
        border-width: 1px 0px 1px 0px;
    }

    .left_column_cell:hover {
        background-color: #E9E9E9;
    }

    #message {
        width: 85%;
        height: 100%;
        padding: 3px;
        float: left;
        resize: none;
        margin-right: 5px;
    }

    .chat_row_name {
        font-weight: 500;
        color: #707070;
        line-height: 20px;
    }

    .chat_row_time {
        font-size: 11px;
        white-space: nowrap;
        line-height: 20px;
    }

    .chat_room {
        font-weight: 700;
        border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
        border: 2px solid #CCCCCC;
        background: #428BCA;
        color: #FFFFFF;
        padding: 5px;
        margin: 0px 1px 0px 1px;
        border-width: 2px 2px 0px 2px;
    }

    .chat_room:hover {
        background: #3276B1;
    }
</style>

<!--
    CHECK FOR BETTER LAYOUT
    http://codepen.io/CucuIonel/pen/HzLtC
-->
<!--########## HTML ##########-->
<!--
    need id=username for username input
    need id=join button for user name input
-->
<body>
    <div id="wrapper">

        <!--########## LIST OF USERS ##########-->
        <div id="left_column"></div><!-- left_column -->

        <!--########## LIST OF ROOMS ##########-->
        <div id="chat_rooms_list">
            <span class="chat_room">
                Room One
            </span>
            <span class="chat_room">
                Room Two
            </span>
            <span class="chat_room">
                Room Three
            </span>
            <span class="chat_room">
                Room Four
            </span>
        </div><!-- chat_rooms_list -->

        <!--########## CHAT AREA ##########-->
        <div id="content">
            <div id="chat_rows_container">

                <!-- ######### a chat entry ##########
                <div class="chat_row">
                    <span class="chat_row_name">
                        ##PERSONS NAME##
                    </span>
                    <span class="chat_row_time">
                        ##TIME GOES HERE##
                    </span>
                    <span class="chat_row_text">
                        ##TEXT YOUR TYPING GOES HERE##
                    </span>
                </div>
                -->
                <div class="chat_row">
                    <span class="chat_row_name">Person One</span><span class="chat_row_time"> - 2:00 PM</span>
                    <br />
                    <span class="chat_row_text">
                        If you need to customize how authorization is determined, you can create a class that derives from AuthorizeAttribute and override the UserAuthorized method. For each request, SignalR invokes this method to determine whether the user is authorized to complete the request. In the overridden method, you provide the necessary logic for your authorization scenario. The following example shows how to enforce authorization through claims-based identity.
                    </span>
                </div>

            </div><!-- end of chat_rows_container -->

            <!--########## CHAT ENTER AREA ##########-->
            <div id="bottom_bar">
                <textarea id="message" class="form-control" placeholder=""></textarea>
                <input id="broadcast" type="button" value="Send" class="btn btn-primary" />
            </div>

        </div><!-- content -->
    </div><!-- wrapper -->
</body>


<!--########## CLIENT SCRIPTS ##########-->
@section scripts {
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js" type="text/javascript"></script>

    <!--Reference the autogenerated SignalR hub script. -->
    <script src="/signalr/hubs" type="text/javascript"></script>

    <!--Add script to update the page and send messages.-->
    <script type="text/javascript">

        $(function () {

            //################################## CONNECTION ###########################################

            // Create the connection to our SignalR-powered Chat Hub on the server.
            var signalRChatHub = $.connection.chatHub;


            // Start the SignalR Hub.
            $.connection.hub.start(function () {
                getUserName("Please enter a user name.");
            });

            //################################## USER STUFF ###########################################

            //creating variable to store username
            var user;
            var room = "Main Lobby";

            //checking username and addign to list
            function getUserName(message) {
                user = prompt(message);

                //if blank ask again
                if (isEmptyString(user)) {
                    getUserName("Please enter a user name.");
                } else {
                    //done() makes it wait for the responce from signalr otherwise an object is returned
                    signalRChatHub.server.userExist(user).done(function (userExistsAlready) {
                        //if exists, promt again with error message
                        if (userExistsAlready) {
                            getUserName("Username already taken. Please enter a different name.");
                        //else add them to list and join the room
                        } else {
                            joinRoom();
                        }
                    });
                }
            };

            function joinRoom() {
                signalRChatHub.server.joinChatroom(user, room).done(function (usersInRoom) {
                    $("#left_column").empty();

                    for (i = 0 ; i < usersInRoom.length; i++) {
                        addUserToList(usersInRoom[i].ChatUserName);
                    }
                    $("#broadcast").removeAttr("disabled");
                });
            }

            function addUserToList(name) {
                $('#left_column').append('<span class="left_column_cell">' + name + '</span>');
            }

            //################################## MESSAGING ###########################################

            //add message to page, called from server
            signalRChatHub.client.addChatMessage = function (message, name) {
                //var timeEntry = getCurrentTime();
                $('#chat_rows_container').prepend('<div class="chat_row"><span class="chat_row_name">' + name + '</span><span class="chat_row_time">' + getCurrentTime() + '</span><br /><span class="chat_row_text"> ' + message + '</span></div>');
            };

            // Click event-handler for broadcasting chat messages.
            $('#broadcast').click(function () {
                // Call Server method.
                signalRChatHub.server.pushChatMessageToClients($('#message').val());

                //clearing the text field
                $('#message').val("");
            });

            function getCurrentTime() {
                var d = new Date();
                var space = " - "
                var hour = d.getHours();
                var min = d.getMinutes();
                var ampm = "AM";
                if (hour >= 12) {
                    ampm = "PM";
                    if (hour > 12) { hour = hour - 12; };
                };
                return space.concat(hour, ":", min, " ", ampm);
            };

            //################################## ROOM USERS ###########################################

            //adding a user to the list of users in the lobby
            signalRChatHub.client.addUserList = function (username) {
                addUserToList(username);
            };

            //removing a user from the list of users int he lobby
            signalRChatHub.client.removeUserList = function (username){
                $("#left_column").children().each(function() {
                    if (username === $(this).text()) {
                        $(this).remove();
                    }
                });
            };

            //################################## ROOM ###########################################

            //add a room to the rooms list
            signalRChatHub.client.addRoom = function (roomName) {

            };

            //remove a room from the rooms list
            signalRChatHub.client.removeRoom = function (roomName) {

            };

            //################################## MISC ###########################################

            //checks if the string is empty or null
            function isEmptyString(str) {
                return (!str || !str.trim());
            }

            //if your in the text area and hit enter
            document.getElementById('message').onkeydown = function (event) {
                if (event.keyCode == 13) {
                    //sloppy way - copying above function
                    // Call Server method.
                    signalRChatHub.server.pushChatMessageToClients($('#message').val());

                    //clearing the text field
                    $('#message').val("");
                }
            }

        });

    </script>

    <!--########## ADDITIONAL SCRIPTS ##########-->
    <script></script>
}

<!--
    ERROR: Uncaught TypeError: Cannot read property 'chatHub' of undefined
    SOLUTION: http://stackoverflow.com/questions/15178408/cannot-read-property-chathub-of-undefined-signalr-hub

    LAYOUT ORIGIN: http://codepen.io/adrianTNT/pen/meLCk
-->
<!--
    possible way to pull current user from computer for username
    http://forums.asp.net/t/1825587.aspx?How+to+trace+windows+login+user+from+jQuery
-->
